:root {
  // css variables for font sizes and stules
  --text-body-xxs: 400 0.6rem "Lato", sans-serif;
  --text-body-xs: 400 1.0rem "Lato", sans-serif;
  --text-body-sm: 400 1.2rem "Lato", sans-serif;
  --text-body-md: 400 1.6rem "Lato", sans-serif;
  --text-body-lg: 400 2.0rem "Lato", sans-serif;
  --text-body-xl: 400 2.4rem "Lato", sans-serif;

  --text-ui-xxs: 700 1.0rem "Lato", sans-serif;
  --text-ui-xs: 700 1.4rem "Lato", sans-serif;
  --text-ui-sm: 700 1.6rem "Lato", sans-serif;
  --text-ui-md: 700 2.0rem "Lato", sans-serif;
  --text-ui-lg: 700 2.4rem "Lato", sans-serif;
  --text-ui-xl: 700 3.2rem "Lato", sans-serif;

  // colors
  --color-primary: #A048D5;
  --color-secondary: #4F3C71;
  --color-tertiary: #1C5565;
  --color-accent: #EEEA87;
  --color-on-fill: #FFFFEE;

  --color-text-primary: #ffffff;
  --color-text-description: #ffffff90;
  --color-text-caption: #ffffff60;
  --color-text-placeholder: #ffffff30;

  --color-background-primary: color-mix(in srgb, #0D1A26, var(--color-secondary) 30%);
  --color-background-primary-dark: color-mix(in srgb, #0D1A26 95%, var(--color-secondary) 15%);
  --color-background-secondary: color-mix(in srgb, #0D1A26 90%, var(--color-tertiary) 5%);
  --color-background-secondary-dark: color-mix(in srgb, #0D1A26 95%, var(--color-tertiary) 2%);

  --color-border-divider: #2f4f4fb5;
  --color-border-field: #2f4f4f60;

  // spacing
  --spacing-xxs: 0.2rem;
  --spacing-xs: 0.4rem;
  --spacing-sm: 0.8rem;
  --spacing-md: 1.2rem;
  --spacing-lg: 1.6rem;
  --spacing-xl: 2.4rem;
  --spacing-xxl: 3.2rem;

  // drop shadow
  --shadow-sm: 0 0.2rem 0.4rem 0 rgba(0, 0, 0, 0.1);
  --shadow-md: 0 0.4rem 0.8rem 0 rgba(0, 0, 0, 0.1);
  --shadow-lg: 0 0.8rem 1.6rem 0 rgba(0, 0, 0, 0.1);

  // border radius
  --border-radius-xs: 0.2rem;
  --border-radius-sm: 0.4rem;
  --border-radius-md: 0.8rem;
  --border-radius-lg: 1.2rem;

  // z-index
  --header-z-index: 10;
  --footer-z-index: 10;
  --dropdown-z-index: 20;
  --overlay-z-index: 99;
  --modal-z-index: 100;
}
